{{ form_start(form) }}
{{ form_errors(form) }}


    {{ form_label(form.username, "Nom:") }}

    {{ form_errors(form.username) }}

    {{ form_widget(form.username) }}
<<<<<<< HEAD

=======
>>>>>>> origin/master


    {{ form_label(form.content, " Votre Commentaire:") }}

    {{ form_errors(form.content) }}

    {{ form_widget(form.content) }}
<br>
<div class="button">

    {{ form_widget(form.submit) }}
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
