{% extends("::layout/layout-home.html.twig") %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                <div class="post-preview">
                    <h3>
                        Episode :  <a href="{{ path('post_show', {id: post.id}) }}">
                            {{ post.episode }}
                        </a>
                    </h3>
                        <h2 class="post-title">
                            {{ post.name }}
                        </h2>
                    </a>
                    <img src="{{ post.photoresume }}" alt="" class="img-responsive"/>
                    {{ post.content|striptags|truncate(80)| raw  }}<p><a href="{{ path('post_show', {id: post.id}) }}">Lire la suite</a></p>
                  </div>
                <hr>
                {% endfor %}
                <!-- Pager -->

                <div class="text-center">
                    {{ knp_pagination_render(posts) }}
                </div>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}

