{# src/BlogBundle/Resources/views/Default/macro.html.twig #}
{% macro comments(comments) %}
    {% import _self as self %}
    {% for comment in comments %}

        <div class="col-md-2"><img
                    src="https://www.gravatar.com/avatar/6a6c19fea4a3676970167ce51f39e6ee?d=mm&s=100"></div>
        <div class="col-md-10 mg-b-50">
            <div class="background-color-clouds pd-10">
              <p class="mg-0">Commentaire de <span class="text-bold">{{ comment.username }}</span>
                    le {{ comment.getCreatedAt()|date("d/m/Y H:i") }}
                    <a href="{{ path('comment_report', { 'id': comment.id }) }}" id="{{ comment.id }}" class="reportComment float-right" class="mg-l-15"
                       title="Signaler ce commentaire comment étant inapproprié"
                       onclick="setReport({{ comment.id }})"><i class="glyphicon glyphicon-alert"></i></a>
                </p>
                <p>{{ comment.content }}</p>
                {%  if comment.level < 3 %}
                    <p><a href="#" data-toggle="modal" data-target="#{{ comment.id }}resp">Répondre</a></p>
                {% endif %}
            </div>
        </div>
        {%  if comment.level < 3 %}
            <div class="modal fade" id="{{ comment.id }}resp" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Répondre à ce commentaire</h4>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('BlogBundle:Post:addCommentResponse', {id: comment.post.id, comment_parent_id: comment.id})) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Alert -->

            <!-- End modal Alert -->
        {% endif %}

        <div class="mg-l-50">
            {{ self.comments(comment.children) }}

        </div>

    {% endfor %}

{% endmacro %}