{% extends("::layout/layout-home.html.twig") %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1>Categorie : {{ category.name }}</h1>
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ path('post_show', {id: post.id}) }}">
                            <h2 class="post-title">
                                {{ post.name }}
                            </h2>
                        </a>
                        {{ post.content | truncate(80) | raw }}
                        <p class="post-meta">Posted by <a href="{{ path('author_show', {id: post.user.id}) }}">{{ post.user.username }}</a>
                            {{ post.createdAt|date("m/d/Y") }}. In category : <a href="{{ path('category_show', {id: post.category.id}) }}">{{ post.category.name }}</a></p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
